<section class="login ">
    <div class="bg-orange-600	">
      <div class="flex justify-center ">  
        <h1 class="font-bold text-4xl mb-6 text-gray-300">About Us</h1>
      </div>
    </div>
    <div>  
        <h1 class=" underline text-3xl mb-6 text-orange-600 mt-6 px-64">
             Great Food Comes First
        </h1>
        <p class="text-gray-700 text-lg flex px-64">  
            Every day, more than hundreds of guests visit Burger SHURGER Website around the world.
            And they do so because our Services are known for serving high-quality, great-tasting, 
            and affordable food. Founded in 2021, Burger Shurger is the second largest fast food hamburger 
            chain in the Delhi. The original Home of the Whopper, our commitment to premium ingredients, 
            signature recipes, and family-friendly dining experiences is what has defined our brand for more 
            than 50 successful days.</p>
      </div>    
    <div>
        <h1 class=" underline text-lg mb-6 text-orange-600 mt-12 px-64">
            Contact
       </h1>
       <p class="text-gray-700 text-lg flex px-64 mb-4">  
      burgershurger@gmail.com
    </p>
    <p class="text-gray-700 text-lg flex px-64">  
        phone-number : 011-12345678      </p>

        </div>  
    
    </section>
      