<div class="carousel relative shadow-2xl bg-white">
	<div class="carousel-inner relative overflow-hidden w-full">
	  <!--Slide 1-->
		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item absolute opacity-0" >
        <!-- HERO SECTION -->
        <section class="hero-1">
            <div class="container mx-auto px-12 py-20 flex items-center justify-between ">
                <div class="w-1/2">
                    <h1 class="text-lg underline"><em>Orders ₹499+ & Get</em></h1> <br>
                    <h1 class="text-3xl md:text-6xl  font-bold">Free Delivery </h1>
                    <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary "><a href="#menu"> Order Now</a>  </button>
                </div>
                <div><img src="/img/hero-burger.png" alt=""></div>
            </div>
        </section>		
    </div>
		<label for="carousel-3" class="prev control-1 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-2" class="next control-1 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>
		
		<!--Slide 2-->
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" >
       <!-- HERO SECTION -->
       <section class="hero-3">
        <div class="container mx-auto px-12 py-20 flex items-center justify-between ">
            <div class="w-1/2">
                <h1 class="text-3xl md:text-6xl  font-bold">Cricket Mania Combos Starting @ ₹123</h1>
                <h1 class="text-xs ">*T&C Apply</h1> <br>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary "><a href="#menu"> Order Now</a>  </button>
            </div>
            <div><img src="/img/cricketcombo.png" alt=""></div>
        </div>
    </section>		
        </div>
		<label for="carousel-1" class="prev control-2 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-3" class="next control-2 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label> 
		
		<!--Slide 3-->
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0">
            <!-- HERO SECTION -->
        <section class="hero-2">
            <div class="container mx-auto px-12 py-20 flex items-center justify-between ">
                <div class="w-1/2">
                    <h1 class="text-3xl md:text-6xl  font-bold">Double Patty</h1>
                    <h1 class="text-lg underline">Only @ ₹200</h1> <br>

                    <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary "><a href="#menu"> Order Now</a>  </button>
                </div>
                <div><img src="/img/doublepatty.png" alt=""></div>
            </div>
        </section>	
        		
        </div>
		<label for="carousel-2" class="prev control-3 w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto">‹</label>
		<label for="carousel-1" class="next control-3 w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-green-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto">›</label>

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
		</ol>
		
	</div>
</div>

 
    <!-- MENU SECTION -->

    <section id="menu" class="menu container mx-auto py-8 px-12">

        <h1 class="text-3xl font-bold mb-8">All Burgers</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 col-gap-12 row-gap-16">
             <% burgers.forEach(function(burger){ %>
            <div class="w-full md:w-64">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%= burger.image %>" alt="">
                    <div class="text-center ">
                        <h2 class="mb-4 text-lg "> <%= burger.name %></h2>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg">₹<%= burger.price %> </span>
                            <button data-burger="<%= JSON.stringify(burger)  %>"  class="add-to-cart px-6 py-1 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>

         <%  }); %>
 
        </div>
    </section>
