
    <!-- HERO SECTION -->
    <section class="hero">
        <div class="container mx-auto px-12 py-20 flex items-center justify-between ">
            <div class="w-1/2">
                <h1 class="text-lg"><em>Orders ₹499 +  Get</em></h1> <br>
                <h1 class="text-6xl font-bold">Free Delivery </h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary ">Order Now</button>
            </div>
            <div><img src="/img/hero-burger.png" alt=""></div>
        </div>
    </section>

    <!-- MENU SECTION -->

    <section id="menu" class="menu container mx-auto py-8 px-12">

        <h1 class="text-3xl font-bold mb-8">All Burgers</h1>
        <div class="grid grid-cols-4 col-gap-12 row-gap-16">
             <% burgers.forEach(function(burger){ %>
            <div class="w-64">
                    <img class="h-40 mb-4 mx-auto" src="/img/<%= burger.image %>" alt="">
                    <div class="text-center ">
                        <h2 class="mb-4 text-lg "> <%= burger.name %></h2>
                        <div class="flex items-center justify-around mt-6">
                            <span class="font-bold text-lg">₹<%= burger.price %> </span>
                            <button data-burger="" class="add-to-cart px-6 py-1 rounded-full flex items-center font-bold">
                                <span>+</span>
                                <span class="ml-4">Add</span>
                            </button>
                        </div>
                    </div>
                </div>

         <%  }); %>
 
        </div>
    </section>
