<section class="login flex justify-center pt-12">

<div>
    <img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">
    <h1 class="font-bold my-6 text-4xl">Thank you!</h1>
      <p>for contacting us, we will reply promptly</p> 
      <p>once your message is received. </p>

    <form action="/">
            <button class="btn-primary px-6 py-2 rounded-full font-bold mt-6 text-white" type="submit"><-  Go Back to Home Page</button>
        </form></div>


</section>