@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

//colors

$primary:  #769353;
$primary-hover:#3d655d;
$secondary : #f8f5f1;
$pure:#fff;
$dark:#232323;
$gray:#ccc;

//transition

$smooth: all .3s ease-in-out;


body{
    font-family: 'RocknRoll One', sans-serif;    
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{  
        color: $secondary;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
    color: $primary-hover;
    }
}

section.hero{
    // background: rgb(131,58,180);
    // background: linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(70,171,77,1) 0%, rgba(64,183,66,1) 0%, rgba(197,255,190,0.6354691534817052) 100%, rgba(252,176,69,1) 100%);
    background: rgb(235,191,88);
    background: linear-gradient(0deg, rgba(235,191,88,0.75) 0%, rgba(242,41,0,0) 35%, rgba(235,191,88,0.75) 100%);
}

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}


.btn-primary{
    background: $primary;
    transition: $smooth;
    &:hover{
       color: $primary-hover;
    }    
}

section.cart{
    background: rgb(235,191,88);
background: linear-gradient(0deg, rgba(235,191,88,0.5) 0%, rgba(242,41,0,0) 35%, rgba(235,191,88,0) 100%);
    // background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
    background: rgb(235,191,88);
    background: linear-gradient(0deg, rgba(235,191,88,0.5) 0%, rgba(242,41,0,0) 35%, rgba(235,191,88,0) 100%);
    // background: $secondary;
    min-height: calc(100vh - 125px);
    transition: $smooth;

    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }

}
