@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss';

//colors

$primary:  #769353;
$primary-hover:#33484d;
$secondary : #e6e6e6;
$pure:#fff;
$dark:#232323;
$gray:#ccc;

//transition

$smooth: all .3s ease-in-out;


body{
    font-family: 'RocknRoll One', sans-serif;    
    -webkit-font-smoothing: antialiased;
    color: $dark;
}

nav li:last-child a{
    background: $primary;
    &:hover{  
        color: $secondary;
    }
}

nav li a{
    transition: $smooth;
    &:hover{
    color: $primary-hover;
    }
}

section.hero-1{

    background: rgb(235,191,88);
    background: linear-gradient(0deg, rgba(235,191,88,1) 35%, rgba(118,147,83,1) 35%, rgba(118,147,83,1) 35%);
    color: #f2edd7;
}
section.hero-2{

    background: rgb(27,23,23);
    background: linear-gradient(0deg, rgba(27,23,23,1) 35%, rgba(255,106,40,1) 35%, rgba(129,0,0,1) 35%);
    color: #f2edd7;
}
section.hero-3{

    background: rgb(192,96,20);
    background: linear-gradient(0deg, rgba(192,96,20,1) 35%, rgba(255,106,40,1) 35%, rgba(66,70,66,1) 35%);
    color: #f2edd7;
}

/* footer */
#footer {
    background:  #769353;
  }
 

.add-to-cart{
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
    &:hover{
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
    &:focus{
        outline: none;
    }
}


.btn-primary{
    background: #ff6a28;
    transition: $smooth;
    &:hover{
       color: $primary-hover;
    } 
    &:focus{
        outline: none;
    }   
}

section.cart{
    
    background: $secondary;
    .amount{
        color: $primary;
    }
}

section.login{
   
    background: $secondary;
    min-height: calc(100vh - 145px);
    transition: $smooth;

    a{
        color: $primary;
        &:hover{
            color: $primary-hover;
        }
    }

}
.link{
    color: $primary;
}

// carousel code

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}
.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}
.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #769353;  /*Set to match the Tailwind colour you want the active one to be */
}

// logo swinging
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}



// responsiveness
@media(max-width:1060px){  // if screen width is less than 1060px apply the below style
   .container{
    max-width: 90%;
}
}
@media(max-width:638px){  // if screen width is less than 1060px apply the below style
    .cart_img{
     max-width: 0%;
 }
 }

.StripeElement{
    box-sizing: border-box;
    height: 40px;
    width: 50%;
    margin-left: auto;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6e6e6;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
.StripeElement--focus{
    box-shadow: 0 1px 3px 0 #cfd7df;

}
.StripeElement--invalid{
    border-color: #ff6a28;
}